<?xml version='1.0' encoding='utf-8'?>
<widget id="com.joerg.autofahn" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AutoFahn</name>
    <description>
        Drive a robot remotly
    </description>
    <author email="joerg@jotimabe.de" href="http://jotimabe.de">
        Jörg Emmerich
    </author>
    <content src="index.html" />
    <icon src="www/img/logo.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <engine name="android" spec="^7.1.1" />
</widget>
